/*.container{*/
/*    width: 1280px;*/
/*    margin: 0 auto;*/
/*    font-family: 'Roboto', sans-serif;*/
/*    font-weight: 400;*/
/*}*/

/*.header a{*/
/*    text-decoration: none;*/
/*}*/

/*.title{*/
/*    margin-top: 63px;*/
/*    font-size: 80px;*/
/*    line-height: 94px;*/
/*}*/

/*.title-link{*/
/*    color: #4BCAFF;*/
/*}*/

/*.title-link span{*/
/*    color: #000000;*/
/*}*/


/*.nav-header{*/
/*    display: flex;*/
/*    padding: 0;*/
/*}*/

/*.project-link{*/
/*    background-color: #35444F;*/
/*    border-right: 1px solid #ffffff;*/
/*    list-style-type: none;*/
/*}*/

/*.project-link-empty{*/
/*    flex-grow: 1;*/
/*}*/

/*.project-link:last-child{*/
/*    border-right: none;*/
/*}*/

/*.link-nav-header {*/
/*    padding: 0 24px;*/
/*    font-size: 24px;*/
/*    line-height: 69px;*/
/*    color: #FFFFFF;*/
/*}*/

/*.project-link:hover{*/
/*    background-color: #222F3A;*/
/*}*/

/*.project-link-empty:hover{*/
/*    background-color: #35444F;*/
/*}*/

/*.main{*/
/*    display: flex;*/
/*    align-items: flex-start;*/
/*    justify-content: space-between;*/
/*    margin-top: 48px;*/
/*}*/


/*.aside{*/
/*    width: 344px;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 1px solid #495863;*/
/*}*/

/*.link-aside{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    height: 81px;*/
/*    padding-left: 51px;*/
/*    font-size: 27px;*/
/*    line-height: 27px;*/
/*    list-style-type: none;*/
/*}*/

/*.link-aside a {*/
/*    text-decoration: none;*/
/*    color: #495863;*/
/*}*/

/*.link-aside:hover{*/
/*    padding-left: 70px;*/
/*    background-color: #DBDBDB;*/
/*}*/

/*.link-aside:hover a{*/
/*    color: #000000;*/
/*}*/

/*.content{*/
/*    width: 885px;*/
/*}*/

/*.img-wrapper{*/
/*    height: 529px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    border: 1px solid #495863;*/
/*}*/

/*.image{*/
/*    width: 320px;*/
/*    height: 381px;*/
/*}*/

/*.image:hover{*/
/*    width: 420px;*/
/*    height: 481px;*/
/*    transition: all linear 2s;*/
/*}*/

/*.main-text{*/
/*    font-size: 18px;*/
/*    line-height: 24px;*/
/*    color: #2C2C2C;*/
/*}*/

/*.main-text p{*/
/*    margin-top: 35px;*/
/*}*/

/*.footer{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    margin-bottom: 30px;*/
/*    margin-top: 54px;*/
/*    padding: 0 40px;*/
/*    background-color: rgba(99, 105, 110, 0.48);*/
/*}*/

/*.footer-nav{*/
/*    display: flex;*/
/*    padding-left: 0;*/
/*    padding-bottom: 8px;*/
/*    margin: 0;*/
/*}*/

/*.link-footer {*/
/*    padding-top: 20px;*/
/*    padding-bottom: 13px;*/
/*    font-size: 28px;*/
/*    line-height: 28px;*/
/*    color: #0C1927;*/
/*    list-style-type:none;*/
/*}*/

/*.link-footer:not(:last-child){*/
/*    margin-right: 20px;*/
/*}*/

/*.footer a{*/
/*    color: #000000;*/
/*    text-decoration: none;*/
/*}*/

/*.link-footer:hover{*/
/*    padding-bottom: 12px;*/
/*    border-bottom: 1px solid #3181A6;*/
/*}*/

/*.link-footer:hover a{*/
/*    color: #3181A6;*/
/*}*/

/*.copyright{*/
/*    font-size: 24px;*/
/*    line-height: 24px;*/
/*}*/
