/**, :before, :after {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    box-sizing: border-box;*/
/*}*/

/*.page-container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/

/*    background: burlywood;*/
/*}*/

/*.container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*    width: 100%;*/
/*    max-width: 960px;*/
/*}*/


/*.page-header {*/
/*    flex-direction: row;*/
/*}*/

/*.page-header__title {*/
/*    font-size: 48px;*/
/*    background: -webkit-linear-gradient(#999, red);*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*}*/

/*.main-content {*/
/*    flex-direction: column;*/

/*}*/

/*.page-footer {*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*}*/

/*.page-footer__title {*/
/*    font-size: 48px;*/
/*    background: -webkit-linear-gradient(red, #000);*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*}*/
