.page-header {
  display: flex;
  justify-content: center;
  align-items: center;

  //.page-header__nav {
  //
  //}

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__nav-item{
    padding: 20px;
    font-size: 30px;
    line-height: 34px;
    color: green;
    background-color: blue;
    cursor: pointer;
  }
}
