/*body{*/
/*    background-image: url(../assets/background1.png);*/
/*    background-size: cover;*/
/*}*/
/*p{*/
/*    margin: 0;*/
/*}*/

/*.container{*/
/*    width: 1023px;*/
/*    margin: 0 auto;*/
/*}*/

/*.header{*/
/*    padding-top: 51px;*/
/*    padding-bottom: 17px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/
/*.header a {*/
/*    text-decoration: none;*/
/*}*/
/*.header a:hover {*/
/*    color: #F26522;*/
/*}*/

/*.logo{*/
/*    width: 195px;*/
/*    height: 51px;*/
/*    color: #FFFFFF;*/
/*    background-image: url(../assets/logo3.png);*/
/*    background-position: left;*/
/*    background-repeat: no-repeat;*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*}*/

/*.logo:hover{*/
/*    color: #F26522;*/
/*    background-image: url(../assets/logohover.png);*/
/*}*/

/*.logo-text{*/
/*    width: 135px;*/
/*    font-family: 'Roboto', sans-serif;*/
/*    font-weight: 700;*/
/*    font-size: 29px;*/
/*    line-height: 27px;*/
/*    text-transform: uppercase;*/
/*}*/

/*.logo span {*/
/*    font-size: 18px;*/
/*    line-height: 18px;*/
/*}*/
/*.contacts{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*    align-items: end;*/
/*}*/
/*.contact {*/
/*    font-family: 'Roboto', sans-serif;*/
/*    font-size: 18px;*/
/*    line-height: 18px;*/
/*    color: #FFFFFF;*/
/*}*/

/*.main{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*}*/
/*main a{*/
/*    text-decoration: none;*/
/*}*/

/*.service{*/
/*    height: 261px;*/
/*    width: 309px;*/
/*    margin-bottom: 37px;*/
/*}*/

/*.service-photo{*/
/*    position: relative;*/
/*    height: 220px;*/
/*    overflow: hidden;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    box-sizing:border-box;*/
/*    border: 5px solid;*/
/*    border-image-source: linear-gradient(-45deg, #0E0E0E 0%, #ffffff 100%);*/
/*    border-image-slice: 1;*/

/*}*/
/*.service-photo1{*/
/*    background-image: url(../assets/services1.png);*/
/*}*/

/*.service-photo2{*/
/*    background-image: url(../assets/services2.png);*/
/*}*/

/*.service-photo3{*/
/*    background-image: url(../assets/services3.png);*/
/*}*/

/*.service-photo4 {*/
/*    background-image: url(../assets/services4.png);*/
/*}*/

/*.service-photo5 {*/
/*    background-image: url(../assets/services5.png);*/
/*}*/

/*.service-photo6 {*/
/*    background-image: url(../assets/services6.png);*/
/*}*/

/*.service-description{*/
/*    padding-top: 20px;*/
/*    color: #FFF;*/
/*    font-family: 'Roboto', sans-serif;*/
/*    font-size: 18px;*/
/*    line-height: 18px;*/
/*    text-align: center;*/
/*}*/


/*.service-details {*/
/*    position: absolute;*/
/*    bottom: -55px;*/
/*    height: 55px;*/
/*    width: 100%;*/
/*    padding: 7px 16px 12px ;*/
/*    background-color:#F26522;*/
/*    box-sizing: border-box;*/
/*    color: #FFFFFF;*/
/*    transition: bottom 1s ease 0s;*/
/*}*/

/*.service:hover .service-details{*/
/*    bottom: 0;*/
/*}*/

/*.service:hover .service-description {*/
/*    color: #F26522;*/
/*}*/

/*.prise-info{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: flex-end;*/
/*    font-family: 'Roboto', sans-serif;*/
/*}*/

/*.price-info-details{*/
/*    font-size: 10px;*/
/*    line-height: 10px;*/
/*    margin-bottom: 8px;*/
/*}*/

/*.view-details{*/
/*    font-size: 14px;*/
/*    line-height: 14px;*/
/*}*/

/*.view-details:after {*/
/*    content: url(../assets/arrow.svg);*/
/*    margin-left: 5px;*/
/*    margin-bottom: -1px;*/
/*}*/

/*.prise{*/
/*    font-size: 20px;*/
/*    line-height: 20px;*/
/*}*/

/*.footer-content{*/
/*    padding: 12px 0 15px;*/
/*    font-family: 'Roboto', sans-serif;*/
/*    font-size: 12px;*/
/*    line-height: 12px;*/
/*    text-align: center;*/
/*    color: #FFFFFF;*/
/*}*/
