/*.tabs{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    margin-bottom: 0;*/
/*}*/
/*.tabs-title{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    list-style-type: none;*/
/*    height: 55px;*/
/*    padding:  0 20px;*/
/*    cursor: pointer;*/
/*}*/

/*.active{*/
/*    color: #ffffff;*/
/*    background-color: darkslategray;*/
/*}*/
/*.tabs-content{*/
/*    margin: 0;*/
/*}*/
/*.tabs-content-item{*/
/*    padding: 10px;*/
/*    border: 2px solid darkslategray;*/
/*    border-radius: 15px;*/
/*    display: none;*/

/*}*/

/*.active-tab{*/
/*    display: block;*/
/*}*/