body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    minWidth: 1200px;
    margin: 0 auto;
}
.about-us{
    background: url(../assets/section1-3/section-1parallax.jpg) center/cover no-repeat  fixed;
}
.section-container{
    width: 1160px;
    margin: 0 auto;
}
.header{
    background-color: rgba(94, 93, 88, 0.6);
    height: 120px;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.logo{
    width: 233px;
    height: 120px;
}
.navigation-menu{
    height: 120px;
}


.link-nav-item{
    height: 100%;
    margin: 0;
    display: flex;
}

.link-nav{
    display: flex;
    align-items: center;
    height: 100%;
    list-style-type: none;
    box-sizing: border-box;
    padding: 2px 0;
}

.link-nav-header{
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.link-nav:not(:last-child):hover {
    padding-bottom: 0;
    border-bottom: 2px solid #18CFAB;
}

.link-nav:not(:last-child):hover > a{
    color:#18CFAB;
}

.main-section{
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.the-ham{
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    color:#FFFFFF;
    text-transform: uppercase;
}

.the-ham span{
    color: #18CFAB;
}

.we-are-creative{
    font-weight: 700;
    font-size: 78px;
    line-height: 1px;
    color: #FFFFFF;
    text-transform: uppercase;

}

.just-buy{
    font-size: 34px;
    line-height: 1px;
    color: #D4D4D4
}

.main-section-buttons{
    margin-top: 134px;
}

.main-section-buttons button{
    height: 62px;
    width: 173px;
    padding: 5px 0 0;
    border: none;
    background-color: #FFFFFF;
    border-radius: 7px;
    text-transform: uppercase;
    color: #FFFFFF;
    box-sizing: border-box;
}

.main-section-buttons button:first-child {
    margin-right: 26px;
}

.button-filling{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #18CFAB;
    border-radius: 7px;
    cursor: pointer;
}

.button-filling-blue{
    background-color: #00CBF6;
}
.options{
    display: flex;
    margin-top: 8px;
}
.option{
    height: 377px;
    width: 25%;
    background-color: #1C2A33;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.option-green{
    background-color: #18CFAB;
}
.option p{
    margin-top: 58px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #18CFAB;
    text-transform: uppercase;
}

.option-green p{
    color: #FFFFFF;
}

.services-title{
    margin-top: 80px;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
}

.horizontal-line{
    width: 80px;
    margin: 0 auto;
}

.tabs{
    margin: 70px auto 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.tab-item{
    height: 73px;
    width: calc(100% / 6);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    background-color: #F8FCFE;
    box-sizing: border-box;
    cursor: pointer;
}

.tab-item:hover{
    border-color: #18CFAB;
}

.tabs-content-item img{
    width: 192px;
    height: 139px;
}

.active-tab{
    position: relative;
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
    color: white;
}

.active-tab::after{
   content: '';
   display: block;
    position: absolute;
    border: 15px solid transparent;
    border-top-color: #18CFAB;
    top: 66px;
}

.tabs-content{
    padding: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.tabs-content-item{
    height: 150px;
    display: none;
    margin-top: 28px;
}
.tabs-content-item-active{
    display: flex;
    height: 150px;
}

.tabs-content-item-img {
    width: 192px;
    height: 139px;
    margin-right: 15px;
}



.buy-install{
    height: 476px;
    margin-top: 100px;
    background-image: url("../assets/section1-3/background buy+install.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buy-install-title{
    margin:0;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    text-align: center;
}

.buy-install-text{
    margin: 0;
    padding-top: 12px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
}

.buy-install-button-wrapper{
    margin-top: 62px;
    text-align: center;
}

.works{
    padding-top: 80px;
    background-color: #E9EDEF;
}

.works-title{
    margin-top: 0;
}

.buttons-filter{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.button-filter{
    padding: 14px 16px;
    border: 2px solid #DADADA;
    cursor: pointer;
}
.button-filter:not(:last-child){
   border-right: none;
}

.button-filter:hover{
    border: 2px solid #18CFAB;
    border-right: none;
}

.button-filter:last-child:hover{
    border-right: 2px solid #18CFAB;
}

.button-filter:hover + .button-filter{
    border-left: 2px solid #18CFAB;
}

.load-more-button-container{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 100px;
}

.load-more-button{
    width: 168px;
    height: 60px;
    background-color: #18CFAB;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    line-height: 60px;
}

.none{
    display: none;
}

.load-more-button img{
    height: 18px;
    width: 18px;
    margin-right: 15px;
}

.plus-icon-wrapper{
    display: flex;
    align-items: center;
}

.load-button-content{
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.gallery-works{
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-form{
    width: 290px;
    height: 211px;
    transition: all 1.5s ease;
    backface-visibility: hidden;
    position: relative;
    top: 0;
    left: 0;
}

.card-form img{
    width: 100%;
    height: 100%;
}

.card{
    cursor: pointer;
    perspective: 150rem;
    position: relative;
}

.card:hover .card-form.font-card {
    transform: rotateY(180deg);
}

.card:hover .card-form.first-custom-card {
    transform: rotateY(0deg);
}

.first-custom-card{
    width: 290px;
    height: 211px;
    box-sizing: border-box;
    border-top: 6px solid #18CFAB;
    position: absolute;
    transform: rotateY(-180deg);
}

.custom-card{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-content:  center;
}

.custom-img-first{
    width: 43px;
    height: 43px;
    margin-right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #18CFAB;
}

.custom-img-first-svg{
    height: 15px;
}
.custom-img-two{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color:  #18CFAB;
}
.square{
    width: 12px;
    height: 12px;
    background-color: white;
}

.first-custom-card-content{
    padding-top: 23px;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
}

.first-custom-card p{
    padding-top: 22px;
    margin : 0;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    color: #8A8A8A;
}

.breaking-news{
    margin-bottom: 80px;
}

.breaking-news-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.breaking-news-gallery a{
    text-decoration: none;
}

.breaking-gallery-item{
    height: 280px;
    margin-top: 45px;
}

.breaking-gallery-item:hover .gallery-date{
    background-color: #18CFAB;
}

.breaking-gallery-item:hover .breaking-gallery-name p {
    color: #18CFAB;
}

.gallery-item-image{
    width: 263px;
    height: 208px;
    position: relative;
}

.gallery-date{
    width: 66px;
    height: 68px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #203E38;
    color: #FFFFFF;
}

.gallery-date p{
    padding-top: 9px;
    margin: 0;
    text-align: center;
}

.breaking-gallery-name{
    width: 227px;
    height: 40px;
    padding-top: 5px;
}

.breaking-gallery-name p{
    padding-left: 20px;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171
}

.breaking-gallery-comments{
    width: 150px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 14px;
    color: #777777;
}

.what-people-say{
    padding-top: 80px;
    background-size: cover;
    background-image: url("../assets/WhatPeopleSay/Layer333.png");
    background-position: center;
}

.services-title-white{
    margin-top: 0;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
}

.quotes{
    padding-top: 66px;
    text-align: center;
}

.about-people-say{
    margin-top: 35px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
}

.comments-people-say{
    margin-top: 35px;
}

.name-user{
    margin-bottom: 5px;
    color: #18CFAB;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
}

.skills-user{
    margin: 0;
    font-weight: 300;
    font-size: 13px;
}

.avatar{
    margin: 40px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 166px;
    width: 166px;
    border: 12px solid rgba(31, 218, 181, 0.25);
    box-sizing: border-box;
    border-radius: 50%;
}

.avatar-img{
    height: 100%;
    width: 100%;
}

.slider-menu{
    width: 500px;
    height: 100px;
    padding-bottom: 100px;
    margin: 50px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-slider{
    height: 31px;
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #BBBBBB;
    background-color: transparent;
    cursor: pointer;
}

.button-slider:hover {
    background-color: #18CFAB;
}

.avatar-users{
    height: 70px;
    width: 70px;
    border: 5px solid rgba(31, 218, 181, 0.25);
    border-radius: 50%;
    cursor: pointer;
}

.active-user-animation{
    animation-name: activeUser;
    animation-duration: 1s;
}

@keyframes activeUser {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}

.copyright{
    text-align: center;
    height: 120px;
    margin-top: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22353F;
    color: #AEAEAE;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
}

.copyright span{
    color: #18CFAB;
}

.grid-item {
    float: left;
    width: 378px;
}

.grid-small{
    width: 124px;
}

.grid-item-normal{
    float: left;
    width: 180px;

}

.grid-item-small{
    float: left;
    width: 124px;

}


/*loader*/

.lds-ring {
    position: relative;
    width: 63px;
    height: 63px;
}
.lds-ring > div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 6px solid #18CFAB;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #18CFAB transparent #18CFAB transparent;
    animation-delay: -0.45s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
