/*body{*/
/*        margin: 0;*/
/*}*/

/*.container{*/
/*    width: 1280px;*/
/*    margin: 0 auto;*/

/*}*/

/*.navigation{*/
/*        width: 50%;*/
/*        padding: 0;*/
/*        margin: 25px auto 0;*/
/*}*/

/*.navigation-item{*/
/*        font-weight: 700;*/
/*        font-size: 18px;*/
/*        line-height: 18px;*/
/*        list-style-type: none;*/
/*        display: inline-block;*/
/*        font-family: 'Montserrat', sans-serif;*/
/*        letter-spacing: 2.7px;*/
/*        text-transform: uppercase;*/
/*}*/

/*.navigation-item + .navigation-item{*/
/*        margin-left: 72px;*/
/*}*/

/*.navigation-item  a{*/
/*        text-decoration: none;*/
/*        color: #FF0000;*/
/*}*/

/*.photo-wrapper{*/
/*        margin-top: 31px;*/
/*}*/

/*.photo{*/
/*        width: 100% ;*/
/*        height: 789px;*/
/*}*/

/*.title{*/
/*        margin-top: 49px;*/
/*        margin-bottom: 38px;*/
/*        text-align: center;*/
/*        font-family: 'Montserrat', sans-serif;*/
/*        font-weight: 700;*/
/*        font-size: 22px;*/
/*        line-height: 27px;*/
/*        letter-spacing: 3px;*/
/*        text-transform: uppercase;*/
/*        color: #373737;*/
/*}*/

/*.text{*/
/*        width: 90%;*/
/*        margin: 0 auto;*/
/*        font-family: 'Montserrat', sans-serif;*/
/*        font-weight: 400;*/
/*        font-size: 16px;*/
/*        line-height: 26px;*/
/*        text-align: center;*/
/*        letter-spacing: 2px;*/
/*        color: #373737;*/
/*}*/

/*.text + .text{*/
/*        margin-top: 28px;*/
/*}*/

/*.button-wrapper{*/
/*        margin-top: 66px;*/
/*        text-align: center;*/
/*}*/

/*.button{*/
/*        padding: 18px 43px;*/
/*        margin: 0 auto;*/
/*        background: #FF0000;*/
/*        border-radius: 4px;*/
/*        font-family: 'Montserrat', sans-serif;*/
/*        align-items: center;*/
/*        letter-spacing: 1.8px;*/
/*        text-transform: uppercase;*/
/*        font-weight: 700;*/
/*        font-size: 12px;*/
/*        line-height: 12px;*/
/*        color: #FFFFFF;*/
/*        border: none;*/
/*}*/

/*.footer{*/
/*        width: 85%;*/
/*        margin: 42px auto 0;*/
/*        padding: 29px 0;*/
/*}*/

/*.footer-text{*/
/*        font-family: 'Montserrat', sans-serif;*/
/*        font-weight: 700;*/
/*        font-size: 16px;*/
/*        line-height: 20px;*/
/*        letter-spacing: 2px;*/
/*        color: #373737;*/
/*        text-align: right;*/
/*}*/
