/*body{*/
/*    background-image: url(../assets/images/bodybgd.png);*/
/*    background-size: cover;*/
/*    font-family: 'Ubuntu', sans-serif;*/
/*}*/
/*p{*/
/*    margin: 0;*/
/*}*/

/*.container{*/
/*    width: 1366px;*/
/*    margin: 0 auto;*/
/*}*/

/*.header{*/
/*    background-color: rgba(0, 0, 0, 0.4);*/
/*    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);*/
/*}*/

/*.header-content{*/
/*    height: 58px;*/
/*    padding: 0 78px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/

/*}*/

/*.logo{*/
/*    font-weight: 700;*/
/*    font-size: 22px;*/
/*    line-height: 22px;*/
/*    color: #FFFFFF;*/
/*    cursor: pointer;*/
/*}*/

/*.logo:hover{*/
/*    color: #3CB878;*/
/*}*/

/*.panel{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    font-size: 14px;*/
/*    line-height: 14px;*/
/*    color: #FFFFFF;*/
/*}*/

/*.panel-icon{*/
/*    margin-right: 24px;*/
/*    cursor: pointer;*/
/*}*/

/*.panel-icon svg:hover{*/
/*    fill: #3CB878;*/
/*}*/

/*.authorization a:hover{*/
/*    cursor: pointer;*/
/*    color: #3CB878;*/
/*}*/

/*.form-container{*/
/*    min-height: calc(100vh - 58px);*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.authorization-form{*/
/*    width: 444px;*/
/*    padding: 31px 60px;*/
/*    box-sizing: border-box;*/
/*    background-color: #FFFFFF;*/
/*}*/

/*.authorization-login{*/
/*    position: relative;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/

/*}*/
/*.square{*/
/*    position: absolute;*/
/*    left: -60px;*/
/*    height: 18px;*/
/*    width: 18px;*/
/*    background-color:#3CB878;*/
/*}*/

/*.sine-up{*/
/*    font-size: 20px;*/
/*    line-height: 20px;*/
/*    color: #434343;*/
/*}*/

/*.log-in{*/
/*    font-size: 14px;*/
/*    line-height: 14px;*/
/*    text-decoration: none;*/
/*    color: #3CB878;*/

/*}*/

/*.log-in:hover{*/
/*    text-decoration: underline;*/
/*}*/

/*.login-buttons-wrapper{*/
/*    margin-top: 14px;*/
/*    margin-bottom: 40px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.login-button{*/
/*    width: 160px;*/
/*    height: 48px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    border-radius: 4px;*/
/*    font-size: 16px;*/
/*    line-height: 16px;*/
/*    color: #FFFFFF;*/
/*    text-align: center;*/
/*}*/

/*.fb-button p, .g-button p{*/
/*    flex: 1;*/
/*}*/

/*.fb-button{*/
/*    background-color: #305DB8;*/
/*}*/

/*.fb-button:hover{*/
/*    background-color: #022263;*/
/*}*/

/*.g-button{*/
/*    background-color:#DF4A32;*/
/*}*/
/*.g-button:hover{*/
/*    background-color: #AB1F09;*/
/*}*/

/*.line{*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.horizontal-line{*/
/*    width: 47%;*/
/*    height: 1px;*/
/*    background-color:  #F2F2F2;*/
/*}*/

/*.line-text{*/
/*    margin: 0 2px;*/
/*    line-height: 14px;*/
/*    font-size: 14px;*/
/*    color: #848484;*/
/*}*/

/*.icon{*/
/*    width: 30%;*/
/*    border-right: 1px solid rgba(43, 13, 9, 0.1);*/
/*}*/

/*.registration-input{*/
/*    width: 100%;*/
/*    height: 45px;*/
/*    margin-top: 18px;*/
/*    padding-left: 20px;*/
/*    box-sizing: border-box;*/
/*    border-radius: 5px;*/
/*    border: 1px solid #F2F2F2;*/
/*    font-size: 14px;*/
/*    line-height: 14px;*/
/*}*/

/*.registration-input:focus{*/
/*    outline: none;*/
/*    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);*/
/*}*/

/*input[type="checkbox"] {*/
/*    display:none;*/
/*}*/

/*input[type="checkbox"] + label span {*/
/*    display: inline-block;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    margin: -1px 4px 0 0;*/
/*    vertical-align: middle;*/
/*    cursor: pointer;*/
/*    border: 1px solid #F2F2F2;*/
/*}*/
/*input[type="checkbox"]:checked + label span {*/
/*    background:url(../assets/images/check.png) center no-repeat;*/
/*}*/

/*.checkbox-agree{*/
/*    margin-top: 12px;*/
/*    font-size: 14px;*/
/*    line-height: 14px;*/
/*}*/

/*.checkbox-agree a {*/
/*    text-decoration: none;*/
/*    color: #3CB878;*/
/*}*/
/*.checkbox-agree a:hover{*/
/*    text-decoration: underline;*/
/*}*/

/*.create-account-button{*/
/*    height: 46px;*/
/*    width: 100%;*/
/*    margin-top: 20px;*/
/*    border: none;*/
/*    background-color: rgba(60, 184, 120, 0.8);*/
/*    cursor: pointer;*/
/*    color: #FFFFFF;*/
/*    font-size: 16px;*/
/*    line-height: 16px;*/
/*}*/

/*.create-account-button:hover{*/
/*    background-color: #01813F;*/
/*}*/

/*.change-theme{*/
/*    height: 46px;*/
/*    width: 100%;*/
/*    margin-top: 20px;*/
/*    border: none;*/
/*    background-color: #0EEA7C;*/
/*    cursor: pointer;*/
/*    color: #FFFFFF;*/
/*    font-size: 16px;*/
/*    line-height: 16px;*/
/*}*/
/*.change-the-subject:hover{*/
/*    background-color: #0D8B4C;*/
/*}*/

/*.authorization-form-green{*/
/*    background-color: #ACDCC4;*/
/*}*/

