/*body{*/
/*    margin: 0;*/
/*}*/

/*.container{*/
/*    width: 1920px;*/
/*    margin: 0 auto;*/
/*}*/

/*.header{*/
/*    padding: 37px 230px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    background-color: #0E0E0E;*/
/*}*/

/*.logo-img{*/
/*    height: 40px;*/
/*    width: 270px;*/
/*}*/

/*.contacts{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.contacts a{*/
/*    margin-left: 30px;*/
/*    text-decoration:none;*/
/*    font-family: 'Cicle', sans-serif;*/
/*    font-weight: 700;*/
/*    font-size: 20px;*/
/*    line-height: 29px;*/
/*    color: #FFFFFF;*/
/*}*/

/*.contacts span{*/
/*    color: #D6AF76;*/
/*}*/

/*.button{*/
/*    height: 50px;*/
/*    width: 290px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: transparent;*/
/*    border: 2px solid #E4B564;*/
/*    cursor: pointer;*/

/*}*/

/*.icon-tel{*/
/*    height: 16px;*/
/*    width: 16px;*/
/*    margin-right: 30px;*/

/*}*/
/*.about-us{*/
/*    padding: 91px 230px;*/
/*    font-family: 'Gilam', sans-serif;*/
/*    font-weight: 700;*/
/*}*/

/*.parallax-section-1 {*/
/*    background: url(../assets/images/parallax/parallaxsection1.jpeg) center/cover no-repeat fixed;*/
/*}*/
/*.section-title{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    font-size: 50px;*/
/*    font-family: 'Gilam', sans-serif;*/
/*    font-weight: 700;*/
/*    line-height: 28px;*/
/*    color: #FFFFFF;*/
/*}*/

/*.section-description{*/
/*    width: 1182px;*/
/*    margin-top: 41px;*/
/*    font-size: 20px;*/
/*    line-height: 28px;*/
/*    color: #FFFFFF;*/
/*}*/
/*.works{*/
/*    margin-top: 41px;*/
/*    display: grid;*/
/*    grid-template-rows: 468px 468px;*/
/*    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;*/
/*    grid-gap: 24px;*/

/*    grid-template-areas:*/
/*    "work-item1 work-item2 work-item2 work-item3"*/
/*    "work-item4 work-item4 work-item5 work-item5";*/


/*}*/
/*.work-item{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-size: 20px;*/
/*    line-height: 28px;*/
/*    color:  #FFFFFF;*/
/*    padding: 0 40px;*/
/*}*/
/*.work-item1{*/
/*    grid-area: work-item1;*/
/*    background-color: #634F2C;*/
/*}*/

/*.work-item2{*/
/*    grid-area: work-item2;*/
/*    background-color: #B4A385;*/
/*}*/

/*.work-item3{*/
/*    grid-area: work-item3;*/
/*    background-color: #E4B564;*/
/*}*/

/*.work-item4{*/
/*    grid-area: work-item4;*/
/*    background-color: #635A4A;*/
/*}*/

/*.work-item5{*/
/*    grid-area: work-item5;*/
/*    background-color: #B08C4D;*/
/*}*/

/*.about-machine{*/
/*    padding: 70px 230px 130px;*/
/*    font-family: 'Gilam', sans-serif;*/
/*    background-color: #635A4A;*/
/*}*/

/*.machines{*/
/*    height: 925px;*/
/*    margin-top: 90px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*    color: white;*/
/*    align-content: space-between;*/
/*}*/

/*.machine-type{*/
/*    width: 467px;*/
/*    margin-top: 24px;*/
/*    box-sizing: border-box;*/
/*    padding: 50px;*/
/*    font-size: 20px;*/
/*    line-height: 25px;*/
/*}*/

/*.machine-type p{*/
/*    margin: 0;*/
/*}*/

/*.machine-type1{*/
/*    height: 313px;*/
/*    background-color: #0E0E0E;*/
/*}*/

/*.machine-type2{*/
/*    height: 439px;*/
/*    background-color: #242424;*/
/*}*/

/*.machine-type3{*/
/*    height: 255px;*/
/*    background-color: #1F1F1F;*/
/*}*/

/*.machine-type4{*/
/*    height: 560px;*/
/*    background-color: #1F1F1F;*/
/*}*/

/*.machine-type5{*/
/*    height: 405px;*/
/*    background-color: #E4B564;*/
/*    color: #000000;*/
/*}*/

/*.machine-type6{*/
/*    height: 313px;*/
/*    background-color: #0E0E0E;*/
/*}*/

/*.machine-type7{*/
/*    height: 277px;*/
/*    background-color: #0A0909;*/
/*    font-weight: 700;*/
/*}*/

/*.about-business{*/
/*    padding: 160px 230px 0;*/
/*}*/

/*.parallax-section3{*/
/*    background: url(../assets/images/parallax/parallax-section3.jpeg) center/cover no-repeat  fixed;*/
/*}*/


/*.business-info{*/
/*    margin-bottom: 72px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.business-info a {*/
/*    color: #E4B564;*/
/*    text-decoration: none;*/
/*    font-family: 'Circe', sans-serif;*/
/*    font-size: 18px;*/
/*    line-height: 30px;*/
/*}*/

/*.projects{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.project-item{*/
/*    box-sizing: border-box;*/
/*    width: calc(1460px/3);*/
/*    height: 391px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.project-item1{*/
/*    background-color: #634F2C;*/
/*}*/

/*.project-item2{*/
/*    background-color: rgba(232, 210, 171, 0.76);*/
/*}*/

/*.project-item2-content{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*.project-item2-content p{*/
/*    width: 326px;*/
/*    text-align: center;*/
/*    font-family: 'Gilam', sans-serif;*/
/*    font-weight: 600;*/
/*    font-size: 22px;*/
/*    line-height: 28px;*/
/*    color: #FFFFFF;*/
/*}*/

/*.project-item3{*/
/*    background-color: #E4B564;*/
/*}*/

/*.project-item4{*/
/*    background-color: #635A4A;*/
/*}*/

/*.project-item5{*/
/*    background-color:#B08C4D ;*/
/*}*/

/*.project-item6{*/
/*    background-color: #634F2C ;*/
/*}*/

/*footer{*/
/*    width: 100%;*/
/*    height: 239px;*/
/*    background-color: #1F1F1F;*/
/*}*/
